
PORT=3000
NODE_ENV=development

AUTH_TOKEN=abri

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
]
DB_HOST=localhost
DB_PORT=5432
DB_NAME=affordmed
DB_USER=postgres
DB_PASSWORD=

# External Services
EVALUATION_SERVICE_URL=http://20.207.122.201/evaluation-service
LOGGING_SERVICE_URL=http://20.207.122.201/logging-service

# Message Queue Configuration
BULLMQ_QUEUE_NAME=notifications
BULLMQ_WORKERS=5
